# Homework: Data analysis in a group
1. Make a group of 3-4
2. Take the dataset "H202_organizations.csv" from the "2-datasets" folder
3. Make a short analysis and prepare to answer the questions the following day

## Questions to answer
* What is in this data?
* Are thre missing values? If so in which columns and how many?
* How many columns and rows does this dataset have?
* How many unique values are in the "projectAcronym" column? What does this mean?
* What kind of values are in the column "country" and how many countries are there?
* Which 10 companies got the most money?
* How many projects were they involved in?
* Which 10 companies got the most money on average per project? (hint: median)
* Make a bar graph of the TOP 10 countries that got the most money
* Which countries got the most money per inhabitant?

In [59]:
import pandas as pd
import altair as alt

pd.options.display.max_columns = 100
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
df = pd.read_csv("data/2-datasets/H2020_organizations.csv")

# What is in the data?

In [6]:
df.sample(3)

,projectID,projectAcronym,organisationID,vatNumber,name,shortName,SME,activityType,street,postCode,city,country,nutsCode,geolocation,organizationURL,contactForm,contentUpdateDate,rcn,order,role,ecContribution,netEcContribution,totalCost,endOfParticipation,active
42942,633567,IDEAS,999987454,DE811245070,UNIVERSITAET BREMEN,UBREMEN,NaN,HES,Bibliothekstrasse 1,28359,BREMEN,DE,NaN,"53.1072896,8.8497015",http://www.uni-bremen.de,https://ec.europa.eu/info/funding-tenders/oppo...,2019-12-09 11:33:12,1905966,6,participant,498432.96,NaN,NaN,False,NaN
57255,675858,West-Life,999992789,IT04430461006,ISTITUTO NAZIONALE DI FISICA NUCLEARE,INFN,NaN,REC,Via Enrico Fermi 54,00044,FRASCATI,IT,NaN,"41.8118701,12.6745718",http://www.infn.it,https://ec.europa.eu/info/funding-tenders/oppo...,2020-07-16 12:03:26,1909501,10,participant,344000.00,NaN,NaN,False,NaN
171965,864453,SWING,965428294,FR63344406277,LOIRETECH HOLDING SAS,LOIRETECH,NaN,PRC,ZAC DE LA VERDIERE,44470,MAUVES SUR LOIRE,FR,NaN,"47.3033666,-1.3905216",http://www.loiretech.fr,https://ec.europa.eu/info/funding-tenders/oppo...,2019-10-01 13:43:31,1939641,2,participant,271367.00,NaN,NaN,False,NaN

In [12]:
df

,projectID,projectAcronym,organisationID,vatNumber,name,shortName,SME,activityType,street,postCode,city,country,nutsCode,geolocation,organizationURL,contactForm,contentUpdateDate,rcn,order,role,ecContribution,netEcContribution,totalCost,endOfParticipation,active
0,659314,ROPHARE,999979015,CHE115203630MWST,EIDGENOESSISCHE TECHNISCHE HOCHSCHULE ZUERICH,ETH Zürich,NaN,HES,Raemistrasse 101,8092,ZUERICH,CH,NaN,"47.3764534,8.54770931489751",http://www.ethz.ch,https://ec.europa.eu/info/funding-tenders/oppo...,2020-05-15 14:31:07,1905561,2,partner,NaN,NaN,NaN,False,NaN
1,659314,ROPHARE,999532233,ESG26325936,FUNDACION RIOJA SALUD-FRS,FRS,NaN,REC,CALLE PIQUERAS 98,26006,LOGRONO,ES,NaN,"42.4536593,-2.4258312",www.riojasalud.es,https://ec.europa.eu/info/funding-tenders/oppo...,2020-05-15 14:31:07,2121558,1,coordinator,254480.40,NaN,NaN,False,NaN
2,728018,Eat2beNICE,999895013,EE100030417,TARTU ULIKOOL,UNIVERSITY OF TARTU,False,HES,ULIKOOLI 18,51005,TARTU,EE,NaN,"58.3807628,26.7194208",http://www.ut.ee,https://ec.europa.eu/info/funding-tenders/oppo...,2021-12-30 12:50:34,1907959,8,participant,235425.00,235425.00,235425.00,False,NaN
3,728018,Eat2beNICE,997297353,DE250013752,UNIVERSITAETSKLINIKUM WUERZBURG - KLINIKUM DER...,KLINIKUM DER BAYERISCHEN JULIUS-MAXIMILIANS-UN...,False,HES,JOSEF-SCHNEIDER-STRASSE 2,97080,WURZBURG,DE,NaN,"49.8007685,9.9538007",www.uk-wuerzburg.de,https://ec.europa.eu/info/funding-tenders/oppo...,2021-12-30 12:50:34,1906549,4,participant,569728.50,569728.50,569728.50,False,NaN
4,728018,Eat2beNICE,940083552,NaN,ADD INFORMATION SERVICES,ADDISS,False,OTH,"10TH FLOOR, HYDE HOUSE, COLINDALE",NW9 6LH,LONDON,UK,NaN,"51.5883045,-0.2286063",NaN,https://ec.europa.eu/info/funding-tenders/oppo...,2021-12-30 12:50:34,3006085,18,participant,47084.76,47084.76,47084.76,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172413,699641,TOURISM ID,925119653,NO913552490MVA,STIFTELSEN NORSK DESIGN-OG ARKITEKTURSENTER,DOGA,NaN,OTH,HAUSMANN GATE 16,0182,OSLO,NO,NaN,"59.918357,10.753403",NaN,https://ec.europa.eu/info/funding-tenders/oppo...,2017-07-10 11:43:18,2382419,3,participant,0.00,NaN,NaN,False,NaN
172414,699641,TOURISM ID,950747441,EL090067370,BUSINESS AND CULTURAL DEVELOPMENT CENTRE,KEPA,NaN,OTH,6TH KM HARILAOU THERMIS LEDA MARIA BLOCK HERME...,57001,THERMI THESSALONIKI,EL,NaN,"40.5472188,23.0219745",NaN,https://ec.europa.eu/info/funding-tenders/oppo...,2017-07-10 11:43:18,2382417,1,coordinator,50000.00,NaN,NaN,False,NaN
172415,862844,WIRE2019,986565370,RO11616139,AGENTIA PENTRU DEZVOLTARE REGIONALANORD-EST,NORTH EAST REGIONAL DEVELOPMENT AGENCY,NaN,OTH,STR LCT DRAGHESCU 9,610125,PIATRA NEAMT,RO,NaN,"46.92675645,26.366065982137044",www.adrnordest.ro,https://ec.europa.eu/info/funding-tenders/oppo...,2020-12-19 15:25:17,2158889,1,coordinator,224142.50,NaN,NaN,False,NaN
172416,723988,FIE2016,925824164,DE301425922,THE EXTREMELY USEFUL COMPANY GMBH,TEUC,NaN,PRC,ODENWALDSTRASSE 8,64347,GRIESHEIM,DE,NaN,"49.857568900000004,8.564949949999999",NaN,https://ec.europa.eu/info/funding-tenders/oppo...,2019-06-24 03:09:28,2471058,1,coordinator,300000.00,NaN,NaN,False,NaN
172417,861952,SGA3,948759523,NaN,COST ASSOCIATION,CA,False,OTH,MANHATTAN CENTRE AVENUE DE BOULEVARD 21/2,1210,BRUXELLES,BE,NaN,"50.8287051,4.3621168",NaN,https://ec.europa.eu/info/funding-tenders/oppo...,2021-10-28 23:36:58,2565914,1,coordinator,81840000.00,81840000.00,81840000.00,False,NaN

# Are thre missing values? If so in which columns and how many?

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172418 entries, 0 to 172417
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   projectID           172418 non-null  int64
 1   projectAcronym      172418 non-null  object
 2   organisationID      172418 non-null  int64
 3   vatNumber           156437 non-null  object
 4   name                172418 non-null  object
 5   shortName           166827 non-null  object
 6   SME                 104718 non-null  object
 7   activityType        172407 non-null  object
 8   street              171663 non-null  object
 9   postCode            170883 non-null  object
 10  city                172364 non-null  object
 11  country             172399 non-null  object
 12  nutsCode            0 non-null       float64
 13  geolocation         172172 non-null  object
 14  organizationURL     112275 non-null  object
 15  contactForm         172418 non-null  object
 16  contentUpdateDate   172418 non-null  object
 17  rcn                 172418 non-null  int64
 18  order               172418 non-null  int64
 19  role                172418 non-null  object
 20  ecContribution      164709 non-null  float64
 21  netEcContribution   104622 non-null  float64
 22  totalCost           104639 non-null  float64
 23  endOfParticipation  172418 non-null  bool
 24  active              947 non-null     object
dtypes: bool(1), float64(4), int64(4), object(16)
memory usage: 31.7+ MB

# How many columns and rows does this dataset have?

In [8]:
# amount of rows
len(df)

172418

In [11]:
# amount of columns
len(df.columns)

25

# How many unique values are in the "projectAcronym" column? What does this mean?

In [14]:
df["projectAcronym"].unique()

array(['ROPHARE', 'Eat2beNICE', 'DUT-signal', ..., 'WIRE2019', 'FIE2016',
       'SGA3'], dtype=object)

In [15]:
len(df["projectAcronym"].unique())

32962

In [17]:
f'There are {len(df["projectAcronym"].unique())} unique columns in projectAcronym'

'There are 32962 unique columns in projectAcronym'

In [18]:
df["projectAcronym"].value_counts()

GrapheneCore2    208
EUROfusion       206
GrapheneCore3    196
2D-EPL           194
GrapheneCore1    192
                ...
MMUSCLES           1
MOLEMAT            1
LC-SOLAR           1
INTICE             1
SGA3               1
Name: projectAcronym, Length: 32962, dtype: int64

In [19]:
len(df["projectAcronym"].value_counts())

32962

In [20]:
df["projectAcronym"].value_counts().head(10)

GrapheneCore2    208
EUROfusion       206
GrapheneCore3    196
2D-EPL           194
GrapheneCore1    192
ICEI             158
HBP SGA3         157
HBP SGA2         144
HBP SGA1         135
INTERACT         134
Name: projectAcronym, dtype: int64

In [24]:
# Filtering out only the rows where the projectAcronym is ROPHARE
df[df["projectAcronym"] == "ROPHARE"]

,projectID,projectAcronym,organisationID,vatNumber,name,shortName,SME,activityType,street,postCode,city,country,nutsCode,geolocation,organizationURL,contactForm,contentUpdateDate,rcn,order,role,ecContribution,netEcContribution,totalCost,endOfParticipation,active
0,659314,ROPHARE,999979015,CHE115203630MWST,EIDGENOESSISCHE TECHNISCHE HOCHSCHULE ZUERICH,ETH Zürich,NaN,HES,Raemistrasse 101,8092,ZUERICH,CH,NaN,"47.3764534,8.54770931489751",http://www.ethz.ch,https://ec.europa.eu/info/funding-tenders/oppo...,2020-05-15 14:31:07,1905561,2,partner,NaN,NaN,NaN,False,NaN
1,659314,ROPHARE,999532233,ESG26325936,FUNDACION RIOJA SALUD-FRS,FRS,NaN,REC,CALLE PIQUERAS 98,26006,LOGRONO,ES,NaN,"42.4536593,-2.4258312",www.riojasalud.es,https://ec.europa.eu/info/funding-tenders/oppo...,2020-05-15 14:31:07,2121558,1,coordinator,254480.4,NaN,NaN,False,NaN

In [ ]:
# Filtering out only the rows where the projectAcronym is not ROPHARE
df[df["projectAcronym"] != "ROPHARE"]

# What kind of values are in the column "country" and how many countries are there?

In [27]:
df["country"].value_counts()

DE    20207
ES    18127
UK    17056
IT    16494
FR    16283
      ...
BZ        1
VA        1
PG        1
VG        1
GD        1
Name: country, Length: 199, dtype: int64

In [28]:
len(df["country"].value_counts())

199

# Which 10 companies got the most money?

In [38]:
df.groupby("name").sum().nlargest(10, "ecContribution")["ecContribution"]

name
CENTRE NATIONAL DE LA RECHERCHE SCIENTIFIQUE CNRS                    1,200,502,531.52
COMMISSARIAT A L ENERGIE ATOMIQUE ET AUX ENERGIES ALTERNATIVES         704,053,655.17
MAX-PLANCK-GESELLSCHAFT ZUR FORDERUNG DER WISSENSCHAFTEN EV            654,612,644.03
FRAUNHOFER GESELLSCHAFT ZUR FORDERUNG DER ANGEWANDTEN FORSCHUNG EV     636,901,394.58
THE CHANCELLOR, MASTERS AND SCHOLARS OF THE UNIVERSITY OF OXFORD       520,010,719.41
THE CHANCELLOR MASTERS AND SCHOLARS OF THE UNIVERSITY OF CAMBRIDGE     488,567,375.42
EIDGENOESSISCHE TECHNISCHE HOCHSCHULE ZUERICH                          435,138,152.53
UNIVERSITY COLLEGE LONDON                                              416,312,315.72
KATHOLIEKE UNIVERSITEIT LEUVEN                                         376,446,573.71
AGENCIA ESTATAL CONSEJO SUPERIOR DE INVESTIGACIONES CIENTIFICAS        372,450,492.09
Name: ecContribution, dtype: float64

# How many projects were they involved in?

In [42]:
df.groupby("name").agg(["sum", "count"])["ecContribution"].nlargest(10, "sum")

                                                                sum  count
name
CENTRE NATIONAL DE LA RECHERCHE SCIENTIFIQUE CNRS  1,200,502,531.52   1782
COMMISSARIAT A L ENERGIE ATOMIQUE ET AUX ENERGI...   704,053,655.17    772
MAX-PLANCK-GESELLSCHAFT ZUR FORDERUNG DER WISSE...   654,612,644.03    644
FRAUNHOFER GESELLSCHAFT ZUR FORDERUNG DER ANGEW...   636,901,394.58   1055
THE CHANCELLOR, MASTERS AND SCHOLARS OF THE UNI...   520,010,719.41    716
THE CHANCELLOR MASTERS AND SCHOLARS OF THE UNIV...   488,567,375.42    749
EIDGENOESSISCHE TECHNISCHE HOCHSCHULE ZUERICH        435,138,152.53    574
UNIVERSITY COLLEGE LONDON                            416,312,315.72    647
KATHOLIEKE UNIVERSITEIT LEUVEN                       376,446,573.71    654
AGENCIA ESTATAL CONSEJO SUPERIOR DE INVESTIGACI...   372,450,492.09    845

In [44]:
df["ecContribution"].describe()

count       164,709.00
mean        413,675.84
std       1,087,467.57
min               0.00
25%          94,686.80
50%         224,577.50
75%         452,500.00
max     178,169,171.00
Name: ecContribution, dtype: float64

In [56]:
df.groupby("country")["ecContribution"].describe()#.sort_values("count", ascending=False)

,count,mean,std,min,25%,50%,75%,max
country,,,,,,,,
AE,2.00,"250,000.00","353,553.39",0.00,"125,000.00","250,000.00","375,000.00","500,000.00"
AF,2.00,"49,619.00","48,024.58","15,660.49","32,639.74","49,619.00","66,598.25","83,577.50"
AI,5.00,"246,936.88","135,250.31","50,000.00","161,700.00","322,000.00","346,062.50","354,921.88"
AL,50.00,"111,995.93","145,176.15",0.00,"27,218.75","53,062.50","160,650.00","817,050.00"
AM,37.00,"108,825.67","128,474.65",0.00,"10,562.50","67,175.00","145,000.00","462,250.00"
...,...,...,...,...,...,...,...,...
XK,20.00,"127,778.39","87,198.88","13,476.25","55,253.62","104,350.00","194,842.81","331,406.25"
YE,1.00,"134,073.75",NaN,"134,073.75","134,073.75","134,073.75","134,073.75","134,073.75"
ZA,229.00,"268,752.32","422,890.08",0.00,"62,000.00","147,500.00","287,645.41","3,200,656.50"
ZM,10.00,"196,641.16","242,827.45",0.00,"49,657.97","153,792.50","188,661.25","844,276.00"
ZW,3.00,"89,458.33","79,966.43",0.00,"57,187.50","114,375.00","134,187.50","154,000.00"

# Which 10 companies got the most money on average per project? (hint: median)

In [57]:
df.groupby("name").median().nlargest(10, "ecContribution")["ecContribution"]

name
COST ASSOCIATION                                          130,004,585.50
COALITION FOR EPIDEMIC PREPAREDNESS INNOVATION             36,000,000.00
FONDATION INNOVATIVE MEDICINES FOR TUBERCULOSIS (IM4TB)    22,407,250.00
CLARIANT PRODUCTS RO SRL                                   19,791,860.39
LANZATECH BV                                               18,611,228.06
AFYREN NEOXY                                               15,990,640.86
WORLD VISION OF IRELAND LBG                                13,493,437.36
HCEMM NONPROFIT KORLATOLT FELELOSSEGU TARSASAG             12,543,203.75
LHYFE LABS                                                 11,851,562.50
WAVE STAR AS                                               11,775,225.00
Name: ecContribution, dtype: float64

# Make a bar graph of the TOP 10 countries that got the most money

In [64]:
df.groupby("country").sum().nlargest(10, "ecContribution")["ecContribution"].reset_index()

  country    ecContribution
0      DE 10,056,553,473.00
1      UK  7,808,394,562.44
2      FR  7,478,639,083.85
3      ES  6,357,314,836.68
4      IT  5,631,567,736.81
5      NL  5,365,321,362.06
6      BE  3,418,211,061.00
7      CH  2,426,226,145.60
8      SE  2,314,676,274.33
9      AT  1,950,834,083.33

In [65]:
chart_data = df.groupby("country").sum().nlargest(10, "ecContribution")["ecContribution"].reset_index()

alt.Chart(chart_data).mark_bar().encode(
       y = alt.Y("country", sort="-x"),
       x = "ecContribution"
)

alt.Chart(...)

# Which countries got the most money per inhabitant?

In [84]:
countries = df.groupby("country").sum()["ecContribution"].reset_index()
countries.head(3)

  country  ecContribution
0      AE      500,000.00
1      AF       99,237.99
2      AI    1,234,684.38

In [85]:
population = pd.read_csv("data/2-datasets/european_countries.csv")
iso = pd.read_csv("data/2-datasets/country_codes.csv")

In [86]:
population.head(1)

,country,population,date,membership,source
0,Germany,83695430,31 Mar 2022,European Union,National quarterly estimate[9]

In [87]:
iso.head(1)

       Country iso2 iso3  Numeric
0  Afghanistan   AF  AFG        4

In [90]:
population_iso = pd.merge(population, iso, left_on="country", right_on="Country", how="left")
population_iso.head(1)

,country,population,date,membership,source,Country,iso2,iso3,Numeric
0,Germany,83695430,31 Mar 2022,European Union,National quarterly estimate[9],Germany,DE,DEU,276.00

In [92]:
merged = pd.merge(countries, population_iso, left_on="country", right_on="iso2")
merged.head(1)

,country_x,ecContribution,country_y,population,date,membership,source,Country,iso2,iso3,Numeric
0,AL,"5,599,796.35",Albania,2793592,1 Jan 2022,NaN,National annual estimate[41],Albania,AL,ALB,8.00

In [93]:
merged["per_capita"] = merged["ecContribution"] / merged["population"]

In [97]:
merged.head(1)

,country_x,ecContribution,country_y,population,date,membership,source,Country,iso2,iso3,Numeric,per_capita
0,AL,"5,599,796.35",Albania,2793592,1 Jan 2022,NaN,National annual estimate[41],Albania,AL,ALB,8.00,2.00

In [100]:
alt.Chart(merged).mark_bar().encode(
       y = alt.Y("Country", sort="-x"),
       x = "per_capita"
)

alt.Chart(...)